.wrapper{
	margin-top: 50px;
	.getFixed-1{
		position: fixed;
		top: 0;
		width: 100%;
		left: 0;
		z-index: 99999;
		right: 0;
	}

	.banner-home{
		padding: 20px 0;
		.regular1{
			margin: 0;
			.items-1{
				>a{
					width: 100%;
					img{
						width: 100%;
						height: 100%;
						border-radius: 5px;
					}
				}
			}
			.slick-dots{
				bottom: 25px;
				li{
					button{
						width: 15px;
						height: 15px;
						background: #fff;
						border-radius: 50%;
						&:before{
							color: transparent;
						}
					}
					&.slick-active{
						button{
							background: $color;
						}
					}
				}
			}
		}
		.banner-top-right{
			margin-bottom: 20px;
			text-align: center;
		}
		.free-transform{
			padding: 0;
			margin: 0;
			list-style: none;
			>li{
				display: flex;
				flex-wrap: nowrap;
				align-items: center;
				padding: 15px;
				background: #f7f7f7;
				transition: all .5s ease;
				border-radius: 3px;
				margin-bottom: 15px;
				>img{
					margin-right: 10px;
					filter: grayscale(100%);
				}
				.txt-free{
					>h4{
						font-size: 14px;
						font-weight: 600;
					}
					>p{
						font-size: 14px;
						font-weight: 400;
						color: $gray;
						transition: all .5s ease;

					}
				}
				&:hover{
					background: $color;
					color: #fff;
					p{
						color: #fff;
					}
				}
			}
		}
	}

	.our-product{
		margin-bottom: 20px;
		.ed-nav-tab{
			border: 0;
			float: unset;
			text-align: center;
			margin-bottom: 40px;
			>li{
				display: inline-block;
				float: unset;
				>a{
					font-size: 14px;
					text-transform: uppercase;
					color: $black;
					font-weight: 600;
					background: transparent;
					border: 0;
					box-shadow: none;
					position: relative;
					padding: 0 0 8px 0;
					margin: 0 15px;
					&:after{
						content: '';
						position: absolute;
						bottom: 0;
						left: 51%;
						right: 51%;
						height: 2px;
						background: $color;
						transition: all .5s ease;
					}
					&:hover{
						color: $color;
						&:after{
							left: 0;
							right: 0;
						}
					}
				}
				&.active{
					>a{
						color: $color;
						border: 0;
						background: transparent;
						&:after{
							left: 0;
							right: 0;
						}
					}
				}
			}
		}
	}
	.title-page{
		margin-bottom: 30px;
		>h3{
			text-transform: uppercase;
			color: $black;
			font-size: 26px;
			font-weight: bold;
			margin: 0;
			margin-bottom: 20px;
			@media(max-width: 992px){
				font-size: 18px;
			}
		}
		>p{
			color: $gray;
		}
	}

	.box-prod{
		border: 1px solid #ebebeb;
		transition: all .5s ease;
		margin-bottom: 30px;
		background: #fff;
		.pic-prd{
			width: 100%;
			text-align: center;
			height: 200px;
			>img{
				height: 100%;
				margin: auto;
				max-width: 100%;
				border-radius: 5px;
			}
		}
		.txt-prd{
			margin-top: 5px;
			padding: 2px 2px 2px;
			>a{
				>h4{
					color: $black;
					font-weight: 600;
					font-size: 16px;
					transition: all .5s ease;
					margin: 0;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					line-height: 17px;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
				}
			}
			P{
				color: $black;
				font-weight: 600;
				font-size: 13px;
				transition: all .5s ease;
				margin: 0;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				line-height: 17px;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 3;
			}
		}
		&:hover{
			box-shadow: 0 6px 12px rgba(0,0,0,0.175);
			.txt-prd{
				>a{
					>h4{
						color: $color;
					}
				}
			}
		}
	}
	.box-prods{
		border: 1px solid #ebebeb;
		transition: all .5s ease;
		margin-bottom: 30px;
		background: #fff;
		display: flex;
		height: 150px;
		.pic-prd{
			width: 50%;
			height: 100%;
			text-align: center;
			@media(max-width:992px){
				width: unset;
			}
			//height: 200px;
			>img{
				height: 100%;
				margin: auto;
				width: 100%;
				border-radius: 5px;
			}
		}
		.txt-prd{
			margin-top: 5px;
			padding: 0px 5px 5px;
			>a{
				>h4{
					color: $black;
					font-weight: 600;
					font-size: 18px;
					transition: all .5s ease;
					margin: 0;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					line-height: 17px;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
					@media(max-width: 992px){
						font-size: 16px;
					}
				}
			}
			P{
				color: $black;
				font-weight: 600;
				font-size: 14px;
				transition: all .5s ease;
				margin: 0;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				line-height: 17px;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 3;
				@media(max-width: 992px){
					font-size: 13px;
				}
			}
		}
		&:hover{
			box-shadow: 0 6px 12px rgba(0,0,0,0.175);
			.txt-prd{
				>a{
					>h4{
						color: $color;
					}
				}
			}
		}
	}
	.groups-star{
		margin: 20px 0 15px;
		>span{
			color: $gray;
			&.checked{
				color: #e97e30;
			}
		}
	}
	.discount-home{
		padding: 20px 0;
		background: #fafafa;
		.txt-count-discount{
			text-align: right;
			>h3{
				font-weight: 600;
				font-size: 30px;
				margin-bottom: 10px;
			}
			>h5{
				font-size: 25px;
				font-weight: 400;
				color: $color;
				margin-bottom: 10px;
			}
			>h6{
				font-size: 16px;
				text-decoration: line-through;
				color: $gray;
			}
			.ed-count-date{
				padding: 0;
				margin: 15px 0;
				list-style: none;
				>li{
					display: inline-block;
					position: relative;
					margin: 0 0px 0 5px;
					width: 40px;
					height: 40px;
					text-align: center;
					background: #fff;
					border: 1px solid $color;
					line-height: 40px;
				}
			}
			.ed-btn-discount{
				padding: 0;
				margin: 0;
				list-style: none;
				>li{
					display: inline-block;
					margin-left: 5px;
					>a{
						font-size: 16px;
						font-weight: 400px;
						background: #f7f7f7;
						color: $gray;
						padding: 10px 15px;
						border-radius: 3px;
						&:hover{
							background: $color;
							color: #fff;
						}
					}
				}
			}
		}
		.btn-pic-disc{
			margin-top: 30px;
			display: block;
		}
		.pic-dc-count{
			>img{
				width: 100%;
			}
		}
		.btn-pic-disc{
			margin: 40px 0;
			>img{
				width: 100%;
				
			}
		}
	}

	.new-books-home{
		padding: 20px 0 20px;
	}

	.book-top{
		.title-book-top{
			h4{
				font-size: 14px;
				font-weight: bold;
				margin: 0 0 20px;
			}
		}
		.box-book-top{
			display: flex;
			align-items: center;
			border: 1px solid #ebebeb;
			margin-bottom: 30px;
			.pic-bk-top{
				width: 120px;
				>img{
					max-width: 100%;
				}
			}
			.txt-bk-top{
				.groups-star{
					margin: 0;
				}
				>h4{
					margin: 10px 0;
					font-size: 14px;
					font-weight: 600;
					transition: all .5s ease;
					color: $black;
				}
				h5{
					font-size: 16px;
					font-weight: 600;
					color: $color;
					>span{
						font-size: 14px;
						font-weight: 300;
						color: $black;
						text-decoration: line-through;
						margin-left: 10px;
					}
				}
			}
			&:hover{
				box-shadow: 0 6px 12px rgba(0,0,0,0.175);
				.txt-bk-top{
					h4{
						color: $color;
					}
				}
			}
		}
		.ed-shape{
			background: url(../images/banner/bags.png) no-repeat;
			background-size: cover;
			padding: 120px 20px 60px;
			color: #fff;
			text-align: center;
			>h3{
				font-size: 19px;
				font-weight: bold;
				line-height: 1.6;
				text-transform: uppercase;
			}
			form{
				input{
					background: rgba(#fff, 0.4);
					border: 1px solid #fff;
					color: #fff;
					height: 40px;
					&::placeholder{
						color: #fff;
						opacity: 1;
					}
				}
				button{
					color: $black;
					text-transform: uppercase;
					font-size: 14px;
					font-weight: 600;
					padding: 8px 12px;
					background: #fff;
					border-radius: 3px;
					border: 0px solid #fff;
					box-shadow: none;
					transition: all .5s ease;
					&:hover{
						background: $black;
						color: #fff;
					}
				}
			}
		}
	}

	.news-home{
		padding: 20px 0;
	}
	.news-box-home{
		text-align: center;
		margin-bottom: 30px;
		.pic-news-home{
			height: 195px;
			position: relative;
			>img{
				max-height: 100%;
				width: 100%;
				opacity: 1;
				transition: all .5s ease;
			}
			>ul{
				position: absolute;
				top: 10px;
				left: 10px;
				padding: 0;
				margin: 0;
				list-style: none;
				background: $color;
				text-align: center;
				width: 60px;
				border-radius: 3px;
				>li{
					color: #fff;
					font-size: 24px;
					font-weight: bold;
					&:last-child{
						font-size: 16px;
						font-weight: 400;
					}
				}
			}
		}
		>a{
			>h4{
				font-size: 20px;
				font-weight: 600;
				color: $black;
				letter-spacing: 1px;
				transition: all .5s ease;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
			}

		}
		>p{
			color: $gray;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
		}
		&:hover{
			img{
				opacity: .5;

			}
			h4{
				color: $color;
			}
		}
	}
}