.news-page{
	padding: 50px 0;
	.right-news{

	}
}

.box-news-page{
	background: #f7f7f7;
	padding-bottom: 15px;
	margin-bottom: 30px;
	.pic-news-page{
		margin-bottom: 15px;
		img{
			width: 100%;
			transition: all .5s ease;
			opacity: 1;
		}
	}
	.date-box-news-page{
		padding: 0;
		margin: 0 15px;
		list-style: none;
		float: left;
		text-align: center;
		background: $color;
		color: #fff;
		padding: 5px 10px;
		border-radius: 3px;
		>li:first-child{
			font-weight: bold;
			font-size: 35px;
		}
		>li:last-child{
			font-size: 16px;
			font-weight: 400;
			text-transform: uppercase;
		}
	}
	.txt-box-news-page{
		display: table;
		>a{
			h4{
				font-size: 16px;
				font-weight: 600;
				text-transform: uppercase;
				color: $black;
				transition: all .5s ease;
			}

		}
		>ul{
			padding: 0;
			margin: 0;
			list-style: none;
			display: block;
			margin-bottom: 10px;
			>li{
				display: inline-block;
				margin-right: 15px;
			}
		}
	}
	&:hover{
		.txt-box-news-page{
			>a{
				>h4{
					color: $color;
				}
			}
		}
		.pic-news-page{
			img{
				opacity: .6;
			}
		}
	}
}